body {
        text-align: center;
        font-family: "Happy Monkey", sans-serif;
        font-optical-sizing: auto;
        font-weight: bold;
        font-style: normal;
    background: linear-gradient(135deg, #ffdfd5, #bbd0ff);
    color: #4b4453; /* A soft, complementary dark for text */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


h1, h2, h3, h4, p {
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    color: #231942;
    margin: 0;
    padding: 10px 0;
}


#swap-location, #swap-date {
    background: #ffdfd5;
    color: #231942;
}

#bff-img {
    width: 150px;
    border-radius: 50%;
    border: 6px solid #231942;
    margin-bottom: 10px;
}

#swap-location {
    background: #bbd0ff;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 5px 0 10px 0;
}

#swap-date {
    margin: 0;
    background: #bbd0ff;
    padding: 5px 10px;
    border-radius: 5px;
}

#header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gift-section {
    margin-top: 50px;
}

.gift-title {
    margin-bottom: 10px;
}

.gift-hint {
    margin-top: 0;
}


.gift-img {
    margin: 20px auto;
    max-width: 400px;
    height: 400px;
    border: 6px solid white;
    border-radius: 10px;
    background-image: url("images/gift-cover.jpg");
    background-size: cover;
}

#gift-img-happy:hover {
    background-image: url("images/closet.gif");
}

#gift-img-hot:hover {
    background-image: url("images/happyGirls.gif");
}

#gift-img-genius:hover {
    background-image: url("images/swapParty.gif");
    margin: auto;
}

#gift-img-badass:hover {
    background-image: url("images/merci.webp");
}

#gift-img-cheers {
    height: 300px;
}

#gift-img-cheers:hover {
    background-image: url("images/readyToParty.webp");
    
}

#gift-img-crown {
    height: 300px;
}

#gift-img-crown:hover {
    background-image: url("images/crown.webp");

}

